{% extends 'base.html' %}
{% block title %}Notes{% endblock title %}

{% block header %}
{% include 'notes/note_search.html' %}
{% endblock header %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="inline-form" action="{% url 'notes:index' %}" method="post">
                    {% csrf_token %}
                    <input type="text" class="form-control clear-focus-highlight" id="txtNewNote"
                        name="txtNewNote" placeholder="Take a note...">
                    <input class="btn btn-raised btn-primary btn-sm" type="submit" value="create">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    {% for note in note_list %}
    <div class="col-md-3">
        <a class="note-panel-link" href="{% url 'notes:update' note.id %}">
            <div class="panel panel-default">
                {% if note.title %}
                <div class="panel-heading"><b>{{ note.title }}</b></div>
                {% endif %}
                {% if note.note %}
                <div class="panel-body">{{ note.note }}</div>
                {% endif %}
                {% if not note.title and not note.note %}
                <div class="panel-body"></div>
                {% endif %}
            </div>
            <div class="ripple-container"></div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}
