{% load static %}
<!DOCTYPE html>
<html lang="en-us">
<head>

{% block head_meta %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock head_meta %}

<title>{% block title %}{% endblock title %}</title>

{% block head_fonts %}
<!-- Material Design fonts -->
<link rel="stylesheet" type="text/css"
    href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<link rel="stylesheet" type="text/css"
    href="//fonts.googleapis.com/icon?family=Material+Icons">
{% endblock head_fonts %}

{% block head_styles %}
<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"
    href="{% static 'vendor/bootstrap/3.3.6/css/bootstrap.min.css' %}">
<!-- Bootstrap Material theme -->
<link rel="stylesheet" type="text/css"
    href="{% static 'vendor/bootstrap/themes/material/0.5.9/css/bootstrap-material-design.min.css' %}">
<link rel="stylesheet" type="text/css"
    href="{% static 'vendor/bootstrap/themes/material/0.5.9/css/ripples.min.css' %}">
<!-- Custom styles -->
<link rel="stylesheet" type="text/css"
    href="{% static 'css/styles.css' %}">
{% endblock head_styles %}
</head>
<body>
{% block header %}
{% endblock header %}
<div class="container">
{% block content %}
{% endblock content %}
</div>
{% block footer %}
{% endblock footer %}

{% block scripts %}
<!-- Bootstrap -->
<script src="{% static 'vendor/jquery/1.12.2/jquery.min.js' %}">
</script>
<script src="{% static 'vendor/bootstrap/3.3.6/js/bootstrap.min.js' %}">
</script>

<!-- Bootstrap Material theme -->
<script src="{% static 'vendor/bootstrap/themes/material/0.5.9/js/material.min.js' %}">
</script>
<script src="{% static 'vendor/bootstrap/themes/material/0.5.9/js/ripples.min.js' %}">
</script>
<script>
    $.material.init();
</script>
{% endblock scripts %}
</body>
</html>
